<div class="quote">
    <blockquote class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Illum debitis sunt, doloremque, ipsa incidunt delectus
        dolorum amet at culpa, eos quod velit
        perspiciatis doloribus alias error harum.
        Assumenda, minima porro.
    </blockquote>
</div>
<footer>
    <div class="media">
        <div class="media__image">
            <svg class="icon icon--primary quote__line">
                <use xlink:href="css/components/images/sprite.svg#line"></use>
            </svg>
        </div>
        <div class="media__body">
            <h3 class="media__header quote__author">Olanrewaju Eniola</h3>
            <p class="quote__organization">ViL Technology</p>
        </div>
    </div>
</footer>