<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2 class="block__heading">User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture class="block-showcase__image">
            <source 
                type="image/webp" srcset="css/components/images/ipad.webp x1, css/components/images/ipad@2x.webp x2"
            />
            <source 
                type="image/png" srcset="css/components/images/ipad.png x1, css/components/images/ipad@2x.png x2"
            />
            <img src="css/components/images/ipad.png" alt="">
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="css/components/images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__header">Easy start & managed updates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing 
                            elit. Sequi ad, asperiores accusantium praesentium 
                            odio cum iure explicabo doloremque voluptates 
                            dolorem.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="css/components/images/sprite.svg#growth"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__header">Staging, GIT & WP-CLI</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing 
                            elit. Sequi ad, asperiores accusantium praesentium 
                            odio cum iure explicabo doloremque voluptates 
                            dolorem.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="css/components/images/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__header">Dynamic Coaching & More</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing 
                            elit. Sequi ad, asperiores accusantium praesentium 
                            odio cum iure explicabo doloremque voluptates 
                            dolorem.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>